<form ng-submit='controller.editUser()'>
  <label>User</label>
  <p>
      <input type="text" placeholder="Username" ng-model="controller.user.username" required/>
  </p>
  <label>Email</label>
  <p>
      <input type="email" placeholder="Email" ng-model="controller.user.email" required/>
  </p>
  <p>
      <input type="text" placeholder="First Name" ng-model="controller.user.firstName" required/>
  </p>
  <p>
      <input type="text" placeholder="Last Name" ng-model="controller.user.lastName" required/>
  </p>
  <p>
      <input type="text" placeholder="Address" ng-model="controller.user.address" required/>
  </p>
  <p>
      <input type="number" placeholder="Zip Code" ng-model="controller.user.zipCode" required/>
  </p>
  <p>
      <input type="text" placeholder="State" ng-model="controller.user.state" required/>
    </p>
  <p>
      <input type="text" placeholder="Diagnosis" ng-model="controller.user.diagnosis" required/>
    </p>
  <label>Role</label>
  <p>
      <select placeholder="Role of User" ng-model="controller.user.role" required>
          <option>Patient</option>
          <option>Doctor</option>
          <option>Nurse</option>
            <option>Other</option>
      </select>
  </p>
  <input type="submit" value="save" class="btn btn-primary" />
</form>
