<table class='table table-bordered table-striped'>
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Role</th>
      <th>Edit User</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat='user in controller.users'>
        <td>
          {{user.username}}
        </td>
        <td>
          <a href="#">
          <span class="glyphicon glyphicon-envelope"></span>
          {{user.email}}
        </a>
        </td>
        <td>
          {{user.role}}
        </td>
          <td>
            <a ui-sref='editUser({id: user._id})'>Edit</a>
          </td>
    </tr>
  </tbody>
</table>
