<table class='table table-bordered table-striped'>
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Role</th>
      <th>Edit User</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat='user in controller.users'>
      <td>
        <a ng-click="controller.getUser(user)">{{user.username}}</a>
      </td>
      <td>
        <span class="glyphicon glyphicon-envelope"></span> {{user.email}}
      </td>
      <td>
        {{user.role}}
      </td>
      <td>
        <button type="button" ng-click="controller.editUser(user._id)">Edit</button>
      </td>
    </tr>
  </tbody>
  
</table>
