<table class='table table-bordered table-striped'>
  <thead>
    <tr>
      <th>User</th>
      <th>Doctor</th>
      <th>Location</th>
      <th>Date</th>
      <th>clinical Notes</th>
      <th>Primary Diagnosis</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat='visit in controller.patientVisits'>
    <td>{{visit.patient.username}}</td>
      <td>
        <a ui-sref="about({id: user._id})">Dr {{visit.doctor.username}}</a>
      </td>
      <td>
        <span class="glyphicon glyphicon-globe"></span> {{visit.location}}
      </td>
      <td>
        {{visit.date | date}}
      </td>
      <td>
        {{visit.clinicalNotes}}
      </td>
      <td>
        {{visit.primaryDiagnosis}}
      </td>
      <td>
        <!--<button type="button" ng-click="controller.editUser(visit)">View</button>-->
        <button type="button"
                class="btn btn-default"
                ng-click="controller.open(visit)">
          View Visit
        </button>
      </td>
    </tr>
  </tbody>
</table>
