<form ng-submit='controller.createVisit()'>
  <h3>Patient</h3>
  <input type="text" ng-model="controller.patientVisit.patient" placeholder="Patient name" />
  <h3>Location</h3>
  <select placeholder="Location of Patient" ng-model="controller.patientVisit.location" required>
      <option>Inpatient</option>
      <option>Outpatient</option>
  </select>
  <h3>Insurance</h3>
  <select placeholder="Location of Patient" ng-model="controller.patientVisit.insurance" required>
      <option>BlueCross</option>
      <option>Aetna</option>
      <option>Humana</option>
      <option>Cigna</option>
      <option>Molina HealthCare</option>
  </select>
<input type="text" ng-model="user.primaryDiagnosis" placeholder="Primary Diagnosis" />
<h3>Clinical Note</h3>
<textarea name="comments" id="comments" style="font-family:sans-serif;font-size:1.2em;">
</textarea> <br />
<button type="reset" class="btn btn-danger" > Reset </button>
<input type="submit" value="Edit Patient Visit" class="btn btn-primary" />

</form>
