<table class='table table-bordered table-striped'>
  <thead>
    <tr>
      <th>User</th>
      <th>Doctor</th>
      <th>Location</th>
      <th>Date</th>
      <th>clinical Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat='user in controller.user'>
    <td>{{user.username}}</td>
      <td>
        <a ui-sref="about({id: user._id})">{{user.doctorId}}</a>
      </td>
      <td>
        <span class="glyphicon glyphicon-globe"></span> {{user.location}}
      </td>
      <td>
        {{user.date}}
      </td>
      <td>
        {{user.clinicalNotes}}
      </td>
      <td>
        {{user.primaryDiagnosis}}
      </td>
      <td>
        <button type="button" ng-click="controller.editUser(user._id)">Edit</a>
      </td>
    </tr>
  </tbody>
</table>
