<table class='table table-bordered table-striped'>
  <thead>
    <tr>
      <th>First Name</th>
        <th>Last Name</th>
        <th>Notes</th>
        <th>Date</th>
        <th>Doctor</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat='user in controller.user'>
      <td>
        {{controller.user.firstName}}
      </td>
      <td>
        {{controller.user.lastName}}
      </td>
      <td>
        {{controller.user.clinicalNotes}}
      </td>
      <td>
        {{controller.user.date}}
      </td>
      <td>
        <a ui-sref="about({id: user._id})">{{controller.user.doctorId}}</a>
      </td>

      <a ui-sref="home">Back</a>

    </tr> <br />
</tbody>
</table>
