<!DOCTYPE html>
<html ng-app="app">

<head>
  <title>app</title>
  <meta charset="utf-8">
  <base href="/" />
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/ngApp/css/site.css"/>
</head>
<body>
  <div class="container">
        <h1>Hospital App</h1>
        <nav class="navbar navbar-inverse">
            <a ui-sref="home">Home</a> |
            <a ui-sref="doctors">Doctors</a> |
            <a ui-sref="nurses">Nurses</a> |
            <a ui-sref="patients">Patients</a> |
            <a ui-sref="patientVisits">Visits</a> |
            <a ui-sref="patientVisit">New Visit <i class="glyphicon glyphicon-plus"></i></a>
            <div class="pull-right">
                <a ui-sref="edit">Profile</a> |
                <a ui-sref="login">Login</a> |
                <a ui-sref="register">Register</a>
            </div>
        </nav>


        <hr/>
        <ui-view></ui-view>
  </div>

  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="/bower_components/angular-touch/angular-touch.min.js"></script>
  <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="/bower_components/angular-jwt/dist/angular-jwt.js"></script>

  <script src="/ngApp/app.js"></script>
  <script src="/ngApp/controllers/controllers.js"></script>
  <script src="/ngApp/services/services.js"></script>

</body>

</html>
