<table class='table table-bordered table-striped'>
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Edit Doctor</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat='doctor in controller.doctors'>
      <td>
        <a ui-sref="about({id: user._id})">{{doctor.username}}</a>
      </td>
      <td>
        <span class="glyphicon glyphicon-envelope"></span> {{doctor.email}}
      </td>
      <td>
        <button type="button" ng-click="controller.editUser(doctor._id)">Edit</a>
      </td>
    </tr>
  </tbody>
</table>
